concourse-environment.yml
credentials.yml
secrets.yml
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
*.swp
*~
*#
#*
tmp
my*.yml
*-auth
*.csv
.vscode
venv
**/__pycache__

# don't keep certbot stuff
certbot/config/**
certbot/logs/**
certbot/work/**
# ...but do keep certbot directories
!certbot/config/.gitkeep
!certbot/logs/.gitkeep
!certbot/work/.gitkeep

concourse/*.yml
